
<!-- The Modal -->
<div id="myModal" class="modal">

  <!-- Modal content -->
  <div #modalContent class="modal-content">
    <span class="close" (click)="onclickClose()">&times;</span>
    <div class="modal-inner">
      <div class="header-text"> ברגעים אלו נשלח קוד התחברות למספר שהזנת... </div>
      <div class="password-fields">
        <div class="password-text"> הזן את הקוד </div>
        <div class="password-windows">
          <input type="password" maxlength="1" />
          <input type="password" maxlength="1"/>
          <input type="password" maxlength="1"/>
          <input type="password" maxlength="1"/>
        </div>
        <div class="resend-password"> לא קיבלת סיסמא? כנראה שמשהו השתבש... </div>
        <div class="resend-password click-to-resend"> לחץ כאן לשליחת קוד מחדש </div>
        <button
          type="submit"
          name="btnLogin"
          value=""
          id="btnSignIn"
          class="orange-button"
          (click)="signup()"> הרשמה >
        </button>
      </div>
    </div>
  </div>
</div>
