.password-fields input[type=password]{
  height: 50px;
  width: 40px;
  text-align: center;
  font-size: 2em;
  border: 1px solid #000;
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  font-family: 'Alef', sans-serif;
}

/* Modal Content/Box */
.modal-content {
  background-color: rgba(236, 240, 241, 0.9);
  margin: 10% auto; /* 15% from the top and centered */
  padding: 20px;
  /*border: 1px solid #888;*/
  width: 40%; /* Could be more or less, depending on screen size */
  height: 60%;
  z-index: 9999;
  border-radius: 0px;
}

.header-text {
  font-size: 24px;
  font-weight: 700;
  text-align: center;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
  color: #517fa4;
}

.password-fields {
  text-align: center;
}

.password-windows {
  direction: ltr;
  margin-bottom: 30px;
}

.password-windows input {
  margin-top: 10px;
  background-color: #eaf4fc ;
}


.orange-button {
  width: 160px;
  height: 40px;
  background-color: #ffffff;
  direction: rtl;
  text-align: center;
  border-radius: 0.2em;
  border: none;
  font-size: 15px;
  font-weight: 300;
  margin-right: -3px;
  padding: 3px 0px;
  margin-bottom: 10px;
  background-color: #e67e22;
  color: white;
  font-size: 20px;
  font-weight: bold;
  margin-top: 30px;
  transition: all 0.3s;
}

.orange-button:hover {
  background-color: #cf6d17;
}


.resend-password {
  font-weight: bold;
  font-size: 14px;
}

.click-to-resend {
  color: #517fa4;
  text-decoration: underline;
  cursor: pointer;
}

.close {
  text-shadow: none;
  opacity: 0.9;
  font-size: 24px;
}


.password-text {
  font-weight: bold;
  font-size: 20px;
}



