.password-fields input[type=password]{
  height: 50px;
  width: 40px;
  text-align: center;
  font-size: 2em;
  border: 1px solid #000;
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  font-family: 'Alef', sans-serif;
}

/* Modal Content/Box */
.modal-content {
  background-color: rgba(236, 240, 241, 0.9);
  margin: 10% auto; /* 15% from the top and centered */
  padding: 20px;
  /*border: 1px solid #888;*/
  width: 40%; /* Could be more or less, depending on screen size */
  height: 60%;
  z-index: 9999;
  border-radius: 0px;
}

.header-text {
  font-size: 24px;
  font-weight: 700;
  text-align: center;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
  color: #517fa4;
}

.password-fields {
  text-align: center;
}

.password-windows {
  direction: ltr;
  margin-bottom: 30px;
}

.password-windows input {
  margin-top: 10px;
  background-color: #eaf4fc ;
}

.textbox-field {
  width: 160px;
  height: 40px;
  background-color: #ffffff;
  direction: rtl;
  text-align: center;
  border-radius: 0.2em;
  border: none;
  font-size: 15px;
  font-weight: 300;
  padding: 3px 0px;
  display: block;
  margin: 10px auto;
}

.textbox-field:not(:last-child) {
  background-color: #bdc3c7;
}

.orange-button {
  background-color: #e67e22;
  color: white;
  font-size: 20px;
  font-weight: bold;
  margin-top: 30px;
  transition: all 0.3s;
}

.orange-button:hover {
  background-color: #cf6d17;
}


.close {
  text-shadow: none;
  opacity: 0.9;
  font-size: 24px;
}

/*.agreement {*/
  /*margin-top: 5px;*/
  /*font-size: 9px;*/

/*}*/





/*@import url("https://fonts.googleapis.com/css?family=Montserrat:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700i,800,800i,900,900i");*/
/*!*======================*/
  /*Reset Default Styles*/
/*========================*!*/
/*html,*/
/*body {*/
  /*padding: 0;*/
  /*margin: 0;*/
/*}*/

/*body {*/
  /*font-family: Montserrat, sans-serif;*/
/*}*/

/*a,*/
/*img,*/
/*li,*/
/*p,*/
/*ul {*/
  /*margin: 0;*/
  /*padding: 0;*/
  /*border: 0;*/
  /*font: inherit;*/
  /*vertical-align: baseline;*/
/*}*/

/*!*section {*!*/
  /*!*display: block;*!*/
/*!*}*!*/

/*ul {*/
  /*list-style: none;*/
/*}*/


/*!*======================*/
 /*Common Style*/
/*========================*!*/

/*!*main {*!*/
  /*!*width: 95%;*!*/
  /*!*max-width: 600px;*!*/
  /*!*margin: 0 auto;*!*/
  /*!*padding: 30px 0;*!*/
/*!*}*!*/


/*!*main section {*!*/
  /*!*width: 100%;*!*/
  /*!*height: auto;*!*/
  /*!*float: left;*!*/
  /*!*display: block;*!*/
  /*!*margin: 0 auto;*!*/
  /*!*padding: 30px 0 0;*!*/
/*!*}*!*/
/*li{*/
  /*display: block;*/
  /*height: auto;*/
  /*!*float: left;*!*/
  /*position: absolute;*/
  /*padding: 30px 30px;*/
  /*margin: 10px;*/
  /*font-size: small;*/
/*}*/
/*li:nth-child(8n+1) {*/
  /*clear: left;*/
/*}*/

/*!*---- View < 1024px ----*!*/
/*@media (max-width: 1024px) {*/
  /*li {*/
    /*width: 50%;*/
  /*}*/
  /*li:nth-child(4n+1) {*/
    /*clear: none;*/
  /*}*/
  /*li:nth-child(2n+1) {*/
    /*clear: left;*/
  /*}*/
/*}*/
/*!*---- View < 450px ----*!*/
/*@media (max-width: 450px) {*/
  /*li {*/
    /*width: 100%;*/
  /*}*/
/*}*/
/*!*======================*/
/*Check Boxes Styles*/
/*========================*!*/
/*input[type='checkbox'] {*/
  /*opacity: 0;*/
  /*z-index: -1;*/
  /*position: absolute;*/
  /*top: 0;*/
/*}*/

/*input[type='checkbox'] + label {*/
  /*width: 20px;*/
  /*height: 20px;*/
  /*display: block;*/
  /*position: absolute;*/
  /*top: 0;*/
  /*margin: 0;*/
  /*box-sizing: border-box;*/
  /*-webkit-box-sizing: border-box;*/
  /*-moz-box-sizing: border-box;*/
  /*text-indent: -999px;*/
  /*overflow: hidden;*/
  /*border: 1px solid #fff;*/
  /*cursor: pointer;*/
/*}*/

/*!*-------------------*/
  /*#checkbox-a,b style*/
  /*------------------*!*/
/*input[type='checkbox']#checkbox-a + label {*/
  /*border: 1px solid #fff;*/
  /*background: transparent;*/
/*}*/
/*input[type='checkbox']#checkbox-b + label {*/
  /*border: 1px solid #fff;*/
  /*background: transparent;*/
/*}*/

/*input[type='checkbox']#checkbox-a + label:before {*/
  /*content: '';*/
  /*width: 20px;*/
  /*height: 20px;*/
  /*top: 0;*/
  /*left: 0;*/
  /*bottom: 0;*/
  /*right: 0;*/
  /*position: absolute;*/
  /*margin: auto;*/
  /*background-color: rgba(0, 0, 0, 0.5);*/
  /*transform: scale(0);*/
  /*-webkit-transform: scale(0);*/
  /*transition: all 0.4s cubic-bezier(1, 0, 0.4, 0.5);*/
  /*-webkit-transition: all 0.4s cubic-bezier(1, 0, 0.4, 0.5);*/
/*}*/
/*input[type='checkbox']#checkbox-b + label:before {*/
  /*content: '';*/
  /*width: 20px;*/
  /*height: 20px;*/
  /*top: 0;*/
  /*left: 0;*/
  /*bottom: 0;*/
  /*right: 0;*/
  /*position: absolute;*/
  /*margin: auto;*/
  /*background-color: rgba(0, 0, 0, 0.5);*/
  /*transform: scale(0);*/
  /*-webkit-transform: scale(0);*/
  /*transition: all 0.4s cubic-bezier(1, 0, 0.4, 0.5);*/
  /*-webkit-transition: all 0.4s cubic-bezier(1, 0, 0.4, 0.5);*/
/*}*/

/*input[type='checkbox']#checkbox-a:checked + label:before {*/
  /*transition: all 0.4s cubic-bezier(1, 0, 0.4, 1);*/
  /*-webkit-transition: all 0.4s cubic-bezier(1, 0, 0.4, 1);*/
  /*transform: scale(1);*/
  /*-webkit-transform: scale(1);*/
/*}*/

/*input[type='checkbox']#checkbox-b:checked + label:before {*/
  /*transition: all 0.4s cubic-bezier(1, 0, 0.4, 1);*/
  /*-webkit-transition: all 0.4s cubic-bezier(1, 0, 0.4, 1);*/
  /*transform: scale(1);*/
  /*-webkit-transform: scale(1);*/
/*}*/

/*li {*/
  /*position: absolute;*/
/*}*/

/*.first-checkbox {*/
  /*top: 0;*/
/*}*/

/*.second-checkbox {*/
  /*top: 50px;*/
/*}*/

/*.checkboxes {*/
  /*position: relative;*/
/*}*/

.button-wrapper {
  position: absolute;
  bottom: 0;
  right: 0;
  display: flex;
  justify-content: center;
  width: 100%;
}

body {
  font-family: Avenir;
  font-size: 16px;
}

.label-cbx {
  user-select: none;
  cursor: pointer;
  margin-bottom: 0;
}
.label-cbx input:checked + .checkbox {
  border-color: #20C2E0;
}
.label-cbx input:checked + .checkbox svg path {
  fill: #517fa4;
}
.label-cbx input:checked + .checkbox svg polyline {
  stroke-dashoffset: 0;
}
.label-cbx:hover .checkbox svg path {
  stroke-dashoffset: 0;
}
.label-cbx .checkbox {
  position: relative;
  top: 2px;
  float: left;
  margin-right: 8px;
  width: 20px;
  height: 20px;
  border: 2px solid #C8CCD4;
  border-radius: 3px;
}
.label-cbx .checkbox svg {
  position: absolute;
  top: -2px;
  left: -2px;
}
.label-cbx .checkbox svg path {
  fill: none;
  stroke: #20C2E0;
  stroke-width: 2;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-dasharray: 71px;
  stroke-dashoffset: 71px;
  transition: all 0.6s ease;
}
.label-cbx .checkbox svg polyline {
  fill: none;
  stroke: #FFF;
  stroke-width: 2;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-dasharray: 18px;
  stroke-dashoffset: 18px;
  transition: all 0.3s ease;
}
.label-cbx > span {
  pointer-events: none;
  vertical-align: middle;
}

.cntr {
  width: 100%;
}

.invisible {
  position: absolute;
  z-index: -1;
  width: 0;
  height: 0;
  opacity: 0;
}

.checkbox-text {
  display: block;
  position: absolute;
  margin-right: 40px;
  font-size: small;
  margin-top: 13px;
}
