<section class="section-categories clearfix">
  <div class="categories-header">
    <h1> הקטגוריות שלנו </h1>
  </div>
  <div class="category-row">
    <div class="category-box" (click)="onByCategory('vacation')">
      <div class="heading">
        <i class="fa fa-globe" aria-hidden="true"></i> מסביב לעולם
      </div>
      <div class="desc"> חופשות בארץ ובעולם </div>
      <img src="../../../assets/img/vacation.jpg" alt="vacation">
    </div>
    <div class="category-box" (click)="onByCategory('Electronics')">
      <div class="heading">
        <i class="fa fa-television" aria-hidden="true"></i> גאדג'טים
      </div>
      <div class="desc"> מחשבים, אלקטורניקה וציוד סלולרי </div>
      <img src="../../../assets/img/computer.jpg" alt="Electronic equipment">
    </div>
    <div class="category-box" (click)="onByCategory('Concerts_n_Shows')">
      <div class="heading">
        <i class="fa fa-music" aria-hidden="true"></i> יוצאים לבלות
      </div>
      <div class="desc">  הופעות, סרטים ובילויים אחרים </div>
      <img src="../../../assets/img/concert.jpg" alt="Concerts">
    </div>
    <div class="category-box" (click)="onByCategory('Fitness')">
      <div class="heading">
        <i class="fa fa-heart" aria-hidden="true"></i>  לגוף ולנפש
      </div>
      <div class="desc"> חדרי כושר וסטודיו </div>
      <img src="../../../assets/img/fitness.jpg" alt="Fitness">
    </div>
  </div>
  <div class="category-row">
    <div class="category-box" (click)="onByCategory('Restaurants')">
      <div class="heading">
        <i class="fa fa-cutlery" aria-hidden="true"></i> חווית קולינריות
      </div>
      <div class="desc"> מסעדות מומלצות ברחבי הארץ </div>
      <img src="../../../assets/img/Restaurants.jpg" alt="Restaurants">
    </div>
    <div class="category-box" (click)="onByCategory('Home_Interior')">
      <div class="heading">
        <i class="fa fa-home" aria-hidden="true"></i> שפר ביתך
      </div>
      <div class="desc"> עיצוב פנים, תחזוקה ומה שביתך צריך </div>
      <img src="../../../assets/img/home-interiorjpg.jpg" alt="Home Interior">
    </div>
    <div class="category-box" (click)="onByCategory('Pets')">
      <div class="heading">
        <i class="fa fa-paw" aria-hidden="true"></i> חברים על ארבע
      </div>
      <div class="desc"> ציוד ומזון לחברך הטוב ביותר  </div>
      <img src="../../../assets/img/pets.jpg" alt="Pets">
    </div>
    <div class="category-box" (click)="onByCategory('Spa_n_Beauty')">
      <div class="heading">
        <i class="fa fa-bath" aria-hidden="true"></i> בא לי להתפנק
      </div>
      <div class="desc"> ספא ועיסויים, מכוני טיפוח ויופי </div>
      <img src="../../../assets/img/spa-grid.jpg" alt="Spa & beauty">
    </div>
  </div>
</section>
